<div class="container">
  <h1 class="title-quizzes">Liste des quiz</h1>

  <% @quizzes.each do |quiz| %>
    <%= link_to new_question_answer_path(question_id: quiz.questions.find_by(position: 1).id), class:"link-card" do %>
      <div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= quiz.title %>
      </div>
    <% end %>
  <% end %>
</div>
