<div class="flip">
    <div class="flip-inner">
        <div class="flip-front">
          <span class="title">
            <h2><%= info.title %></h2>
          </span>
            <!-- adding picture in the flip -->
        </div>

        <!-- Decorate flip back side -->
        <div class="flip-back">
          <span class="title">
            <h2><%= info.content %></h2>
          </span>
        </div>
    </div>
</div>
