<div class="flip">
    <div class="flip-inner">
        <div class="flip-front">
            <h2><%= info.title %></h2>
            <!-- adding picture in the flip -->
        </div>

        <!-- Decorate flip back side -->
        <div class="flip-back">
            <h2><%= info.content %></h2>


        </div>
    </div>
</div>
