<div class="lecture-banner" style="background-image: url(https://cdn.pixabay.com/photo/2017/06/26/12/49/red-wine-2443699_1280.jpg)">
  <h1><%= @lecture.title %></h1>
</div>
<div class="container">
  <div class="infos">
    <% @lecture.infos.each do |info| %>
      <%= render 'flip', info: info %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
