.dash-banner {
  height: 210px;
  padding: 5px 10px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(vignes.jpg);
  background-size: cover;
  background-position: center;
}
.dash-banner h2 {
  color: white;
  text-align: left;
  font-weight: 400;
}
.dash-banner p {
  color: white;
  margin-bottom: 0;
}
.progress {
  width: 50%;
}
.level {
  position: absolute;
  top: 190px;
  right: 10px;
}
.avatar-container {
  width: 50px;
  height: 50px;
}
.avatar-container img {
  border-radius: 50%;
  width: 100px;
}


.a {
  font-size: 80px;
}
.z{
  font-size: 70px;
}
.e {
  font-size: 60px;
}
.r {
  font-size: 50px;
}
.t {
  font-size: 40px;
    color: white;
}
.y {
  font-size: 30px;
    color: white;
}
.u {
  font-size: 20px;
  color: white;
}
