.dash-banner {
  position: relative;
  height: 210px;
  padding: 10px 10px;
  background-image: url(vignes.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.edit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
}
.add {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  color: white;
}
.dash-banner h4 {
  color: white;
  font-weight: bold;
}
.dash-banner p {
  color: white;
  margin-bottom: 0;
}
.progress-bar {
background: linear-gradient(right, #EF4249, #F0666C);
}
.progress {
  width: 50%;
  offset: 25%;
  margin: auto;
}
.level {
  position: absolute;
  right: 10px;
}
.avatar-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background: linear-gradient(bottom, #A9A9A9, #D3D3D3);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  display: none;
  overflow: hidden;
  margin: 0;
}


.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

