.card-title-show {
 color: $bordeaux;
}

.reviews-show-wine {
  margin: 20px 70px 20px 30px;
  font-size: 18px;
}

.title-avis {
  text-align: center;
}

.btn-recommandation {
  color: white !important;
}

.card-wine-show {
  margin: 0 70px 20px 10px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.card-wine-show .card-body {
  text-align: center;
}

.wines-index p {
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: -10px;
}
