.lecture-banner h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.lecture-banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  width:375px;
  height:100px;
  padding-left:8px;
  margin-top: 5px;
  margin-bottom: 10px;
}
