.quizz-title {
  font-size: 30px;
  color: $bordeaux;
}

.responses {
  border-bottom: 1mm ridge $bordeaux;
}

.right-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.img-quiz {
  text-align: center;
}

.circle-result {
  text-align: center;
  border-bottom: 1mm ridge $bordeaux;
}

.circle-progress-block {
  margin: 0 auto;
  margin-bottom: 15px;
}

.fa-trophy {
  color: gold;
}

.fa-redo {
  color: red;
}

.progressbar-js-circle {
  border: none !important;
}
