<h2>Regarde tous les gens</h2>

  <div class="cards">
    <% @users.each do |user| %>
      <div class="card-product">
        <img src="https://cdn.pixabay.com/photo/2018/01/13/19/39/fashion-3080644_1280.jpg">
        <div class="card-product-infos">
        <p>devenez ami avec :</p>
        <h2><%= "#{user.first_name} #{user.last_name}" %></h2>
          <%= link_to 'Ajouter', add_friend_path(user), method: :get, remote: true, class: "user-#{user.id} btn-ghost" %>
        </div>
      </div>
    <% end %>
  </div>

