<% @reviews.each do |review| %>
  <div class="card-product review-<%=review.id%>">
    <img src="https://www.cdiscount.com/pdt2/x/1/4/1/700x700/confmargaux14/rw/chateau-confidence-de-margaux-2014-margaux-vin-r.jpg" alt="">
    <div class="card-product-infos">
      <h2><%= review.wine.appellation %></h2>
      <p><%= review.content %></p>
    </div>
    <%= link_to review_path(review), method: 'delete', remote: true, class: "icon-btn" do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>
