<!--
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.sport-decouverte.com/cours-d-%C5%93nologie/produit/29202/maxi/atelier-degustation-de-vin-a-strasbourg.jpg);">
    <div class="text-center">
      <h1><strong>Flash Wine</strong></strong></h1>
      <p>Apprenez le vin en vous amusant !</p>
      <a class="btn btn-flat " href="#quizz-color">C'est parti !</a>
    </div>
  </div> -->

<!--   slider -->
<div>
  <div class="area-slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner logo-slider-home text-center">
    <%= image_tag "new-logo-wine-flash.png" %>
    <div class="content-slider-home">
        <div class="carousel-item active">
          <p class="content-slider-white">Apprends le vin facilement et Rapidement !</p>
        </div>

        <div class="carousel-item">
           <p class="content-slider-white">Challenge toi sur nos quizz!</p>
        </div>

        <div class="carousel-item ">
           <p class="content-slider-white">Garde en mémoire les bouteilles que tu as dégusté</p>
        </div>
    </div>

      </div>


    </div>
  </div>
        <div class="bloc-arrow text-center">
        <i class="fas fa-angle-double-down"></i>
      </div>
</div>
<!--  fin slider -->



   <div class="bloc-cat-home text-center">
    <div class="">
      <!-- <h2 class="h2-bloc-home">Quizz</h2>
      <h3 class="h3-bloc-home">Testez vos connaissances !<h3> -->

        <%= image_tag 'ill_quizz_flash_wine.png', id: "illustration-home" %>
      <div class="text-cat-center">
      <h4 class="h4-bloc-home">Devenez un expert !</h4>
      <p class="p-bloc-home">Testez vos connaissances dans le vin et gagnez des niveaux en jouant à nos quizz</p>
      </div>
    </div>
  </div>

  <div class="bloc-cat-home text-center">
    <div class="">
      <!-- <h2 class="h2-bloc-home">Cave</h2>
      <h3 class="h3-bloc-home">Stockez vos dégustations<h3> -->

        <%= image_tag 'ill_cave_flash_wine.png', id: "illustration-home" %>
      <div class="text-cat-center">
      <h4 class="h4-bloc-home">Gardez en mémoire vos dégustations</h4>
      <p class="p-bloc-home">Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
      </div>
    </div>
  </div>

   <div class="bloc-cat-home text-center">
    <div class="">
      <!-- <h2 class="h2-bloc-home">Tableau de bord</h2>
      <h3 class="h3-bloc-home">Accédez à toutes vos données<h3> -->

        <%= image_tag 'ill_amis_flash_wine.png', id: "illustration-home" %>
      <div class="text-cat-center">
      <h4 class="h4-bloc-home">Retrouvez vos amis</h4>
      <p class="p-bloc-home">Retrouvez vos amis et les bouteilles qu'ils ont dégustés !</p>
      </div>
    </div>
  </div>




  <!-- <div>
    <div class="card-product">
      <div class="picto-bloc" id="quizz-color">
        <i class="fas fa-question picto-size"></i>
      </div>
      <div>
      <h2>Quiz</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card-product">
      <div class="picto-bloc" id="cave-color">
        <i class="fas fa-wine-bottle picto-size"></i>
      </div>
      <div>
      <h2>Cave</h2>
      <p>Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="db-color">
        <i class="fas fa-tachometer-alt picto-size"></i>
      </div>
      <div>
      <h2>Tableau de bord</h2>
      <p> Retrouvez les informations liées à votre profil, vos amis et votre gain d'expérience.</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="friend-color">
        <i class="fas fa-users picto-size"></i>
      </div>
      <div>
      <h2>Amis</h2>
      <p>Retrouvez vos amis et apprennez ensemble. Plus on est de fous, plus on rit!</p>
      </div>
    </div> -->

