<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.vinepair.com/wp-content/uploads/2019/03/serving-social.jpg);">
    <div class="banner_container">
      <h1 id="title">Loue mon conjoint </h1>
      <div class="text-js">
        <p><span id="banner-typed-text"></span></p>
      </div>
      <a class="btn btn-pub-annonce" href="/offers/new">Publier une annonce</a>
    </div>
  </div>

  <div>
    <div class="card-product">
      <div class="picto-bloc" id="quizz-color">
        <i class="fas fa-question picto-size"></i>
      </div>
      <div>
      <h2>Quiz</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card-product">
      <div class="picto-bloc" id="cave-color">
        <i class="fas fa-wine-bottle picto-size"></i>
      </div>
      <div>
      <h2>Cave</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="db-color">
        <i class="fas fa-tachometer-alt picto-size"></i>
      </div>
      <div>
      <h2>Tableau de bord</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="friend-color">
        <i class="fas fa-users picto-size"></i>
      </div>
      <div>
      <h2>Amis</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>
