
<!--   slider -->
<div>
  <div class="area-slider">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner logo-slider-home text-center">
    <%= image_tag "new-logo-wine-flash.png" %>
    <div class="content-slider-home">
        <div class="carousel-item active">
          <p class="content-slider-white">Apprends le vin facilement et Rapidement !</p>
        </div>

        <div class="carousel-item">
           <p class="content-slider-white">Challenge toi sur nos quizz!</p>
        </div>

        <div class="carousel-item ">
           <p class="content-slider-white">Garde en mémoire les bouteilles que tu as dégusté</p>
        </div>
    </div>

      </div>


    </div>
  </div>
        <%= link_to dashboard_path do %>
        <div class="bloc-arrow text-center">
        <i class="fas fa-angle-double-down"></i>
        </div>
        <% end %>
</div>
<!--  fin slider -->
