<div class="container">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.sport-decouverte.com/cours-d-%C5%93nologie/produit/29202/maxi/atelier-degustation-de-vin-a-strasbourg.jpg);">
    <div class="container">
      <h1><strong>Flash Wine</strong></strong></h1>
      <p>Apprenez le vin en vous amusant !</p>
      <a class="btn btn-flat" href="#quizz-color">C'est parti !</a>
    </div>
  </div>

   <div class="bloc-cat-home text-center">
    <div class="container">
      <h2 class="h2-bloc-home">Quizz</h2>
      <h3 class="h3-bloc-home">Testez vos connaissances !<h3>

          <img id="illustration-home" src="https://enterpriseengineeringnetwork.org/images/question-marks-png-3.png">

      <h4 class="h4-bloc-home">Devenez un expert !<h3>
      <p class="p-bloc-home">Testez vos connaissances dans le vin et gagnez des niveaux en jouant à nos quizz</p>
    </div>
  </div>

  <div class="bloc-cat-home text-center">
    <div class="container">
      <h2 class="h2-bloc-home">Cave</h2>
      <h3 class="h3-bloc-home">Stockez vos dégustations<h3>

          <img id="illustration-home" src="https://thumbs.dreamstime.com/b/homme-dans-la-cave-et-bouteilles-de-vin-31945303.jpg">

      <h4 class="h4-bloc-home">Gardez en mémoire vos dégustations<h3>
      <p class="p-bloc-home">Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
    </div>
  </div>

   <div class="bloc-cat-home text-center">
    <div class="container">
      <h2 class="h2-bloc-home">Tableau de bord</h2>
      <h3 class="h3-bloc-home">Accédez à toutes vos données<h3>

          <img id="illustration-home" src="https://be-fr.universem.com/wp-content/uploads//2017/12/universem-picto44-dashboard-877x1024.png">

      <h4 class="h4-bloc-home">Gardez en mémoire vos dégustations<h3>
      <p class="p-bloc-home">Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
    </div>
  </div>

  <div class="bloc-cat-home text-center">
    <div class="container">
      <h2 class="h2-bloc-home">Amis</h2>
      <h3 class="h3-bloc-home">Créez une communauté de passionée<h3>

          <img id="illustration-home" src="https://dusimpleaudouble.fr/wp-content/uploads/2017/06/picto-profil-dsad.png">

      <h4 class="h4-bloc-home">Gardez en mémoire vos dégustations<h3>
      <p class="p-bloc-home">Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
    </div>
  </div>





  <!-- <div>
    <div class="card-product">
      <div class="picto-bloc" id="quizz-color">
        <i class="fas fa-question picto-size"></i>
      </div>
      <div>
      <h2>Quiz</h2>
      <p>Testez vos connaissances dans le vin <strong>et gagnez des niveaux </strong>en jouant à nos quizz!</p>
      </div>
    </div>
  </div>

  <div>
    <div class="card-product">
      <div class="picto-bloc" id="cave-color">
        <i class="fas fa-wine-bottle picto-size"></i>
      </div>
      <div>
      <h2>Cave</h2>
      <p>Retrouvez les vins que vous avez dégusté ainsi que ceux testés par la communauté!</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="db-color">
        <i class="fas fa-tachometer-alt picto-size"></i>
      </div>
      <div>
      <h2>Tableau de bord</h2>
      <p> Retrouvez les informations liées à votre profil, vos amis et votre gain d'expérience.</p>
      </div>
    </div>
  </div>

   <div>
    <div class="card-product">
      <div class="picto-bloc" id="friend-color">
        <i class="fas fa-users picto-size"></i>
      </div>
      <div>
      <h2>Amis</h2>
      <p>Retrouvez vos amis et apprennez ensemble. Plus on est de fous, plus on rit!</p>
      </div>
    </div> -->
  </div>
