<% @recommendations.each do |recommendation| %>
<div class="notification">
      <%= cl_image_tag recommendation.sender.photo, class:"avatar-large" %>
  <div class="notification-content">
    <p><small>Une date ?</small></p>
    <p><strong><%= recommendation.sender.fullname %></strong> te recommande le <strong><%= recommendation.wine.name %></strong></p>
  </div>

  <div class="notification-actions">
    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
  </div>
</div>
<% end %>
