.banner-landing {
  background-size: cover;
  background-position: center;
  height: 450px;
  text-align: center;
  position: relative;
}

.banner-landing h1 {
  position: absolute;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 45px;
  bottom: 120px;
  left: 75px;
}

.banner-landing h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 70px;
  padding-left: 20px;
}

.banner-landing .btn {
  position: absolute;
  bottom: 10px;
  left: 120px;
}

.banner-title {
  position: absolute;
  z-index: 2000;
  width: 200px;
  bottom: 60px;
}

.banner-logo {
  position: absolute;
  left: 145px;
  top: 10px;
  width: 80px;
  z-index: 2000;
}
