.banner {
  background-size: cover;
  background-position: center;
  width:375px;
  height:90px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.banner h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 20px;
}

.banner p {
  color: white;
  opacity: .8;
}
