.card-product {
  position: relative;
  overflow: hidden;
  height: 120px;
  width:85vw;
  margin: 10px auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $pink;
  text-align: left;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  color: $dark-gray;
}

.card-product .card-product-infos {
  padding: 16px;
}

 // HOME PAGE SELECTORS :

.picto-bloc{
  height:120px;
  width:260px;
  text-align: center;
  padding-top:30px;
  margin-right:5px;
}

.picto-size{
  font-size:50px;
}

#quizz-color{
  background-color:$dark-yellow;
}

#cave-color{
  background-color:$green;
}
#db-color{
  background-color:$light-yellow;
}
#friend-color{
  background-color:$pink;
}

// REVIEWS SELECTORS :

.star_card {
  width: 100px;
}

.light-stars {
  color: gray
}

.edit-delete-icons {
  color: $pink
}

.separating-line {
  size: 0.01em;
  width: 95%;
  color: lightgray;
  align: center;
}
