.card-category {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  display: flex;
  text-decoration: none;
  padding: 10px;
  height: 80px;
  vertical-align: middle;
}

.trophy-icon {
  height: 35px;
  width: 35px;
  background-color: white;
  text-align: center;
  border-radius: 50%
}

.trophy-icon i {
  height: 30px;
  color: $bordeaux;
}

.quiz-title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding-right: 60px;
}
