.card-friend {
  overflow: hidden;
  height: 70px;
  width: 90%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
}

.card-friend p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-decoration: none;
  color: $dark-gray;
  font-weight: 900;
  font-size: 1.3rem;
  text-align: left;
}

.card-friend .card-friend-infos {
  padding: 16px;
}

.card-friend img {
    object-fit: cover;
}
