.footer-container {
  width: 375px;
  height: 70px;
  margin: 10px auto 10px auto;
  position: center;
  background-color: white;
  padding-top: 5px;
  border-top: 1px solid $bordeaux;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container > .card {
  border: none;
  color: $bordeaux;
  text-align: center
}

.footer-container img {
  width: 30px;
  height: 30px;
  color: $pink;
  align-items: center;
  justify-content: center;
  margin: 0 auto
}

.footer-container > .card >.card-title {
  font-size: 14px;
  padding-top: 2px
}

.footer-container > .col {
  padding-left: 0;
  justify-content: center;
}
