.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: auto;
  .nav-logo {
    margin-right: 13rem;
    padding: 0 !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}
