.search_form {
  width: 350px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: $input-font-size * 0.7;
  border: 1px solid $bordeaux;
  margin: 8px;
  border-radius: 5px;
  padding: 8px
}

.search_form .btn{
  height: 32px;
  text-align: center;
  padding: 5px;
  font-size: $input-font-size * 0.8;
}

.find-wine-btn {
  width: 50px;
  }

.new-wine-btn{
  width: 100%;
}
