.padding-simple{
  padding : 20px;
}

.button-form{
  background-color : #ad063b;
  border-radius : 5px;
  color : white;
  border : none;
  box-shadow: 2px 2px #7b042a;
  padding: 8px 25px 8px 25px;
  margin-top: 15px;
}

.button-form:hover{
  background-color : #d70b4c;
  color : white;
}

.modal-title-color{
  color: #ad063b;
}
