// First carousel

// .area-slider{
//     width:100%;
//     height: 517px;
//     background: linear-gradient(#8fc0d7, #e7f6fd);
//     }


// .content-slider-white{
//   color:white;
//   font-size:18px;
//   padding-left:30px;
//   padding-right:30px;
// }

// .bloc-arrow {
//   background-color: #e7f6fd;
//   color:white;
//   font-size:100px;
//   height: 180px;
//   text-decoration: none;
// }

// .fa-angle-double-down{
//   opacity: 0.5;
// }

// First carousel fin

.w-100 {
  filter: grayscale(50%) blur(1px);
}

.carousel-item {
}

.writting {
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}
