.content-slider-white{
  color: $bordeaux;
  font-size: 2.5rem;
}

.carousel-inner {
  padding-left:30px;
  padding-right:30px;
  text-align: center
}

.carousel-item {
  background-color: white;
  color: #ad063b;
  font-size: bold;
}

.carousel-item img {
  height: 100px;
  margin-top: 40px;
  padding-bottom: 20px
}


.carousel-control-prev {
  width: 60px;
}

.carousel-control-next {
  width: 60px;
}

.banner-landing {
  margin-bottom: 25px;
  vertical-align: middle;
}

.logo-landing {
  text-align: left;
  height: 120px;
  width: 80px;
  background-color: white;
}

.carousel-item {
  background-color: white !important;
}
